{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <article class="main-column">
        <h1>About</h1>
        <p>The Open Web Device CRB (compliance review board) focuses on:</p>
        <ul>
            <li>API compatibility</li>
            <li>Minimum performance benchmarks</li>
        </ul>

        <p>The Open Web Device CRB is an independent entity run by its Board of Directors.
            Members are a mix of partners covering geographically diverse markets. </p>

        <p>Independent external labs will be authorized to perform test on devices
            to certify compliance with our performance and compliance specifications.
        </p>


    </article>

{% endblock content %}
