{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <article class="main-column">
        <h3>About</h3>
        <p>The Open Web Device CRB (certification review board) focuses on:</p>
        <ul>
            <li>API compatibility</li>
            <li>Minimum performance benchmarks</li>
        </ul>

        <p>The Open Web Device CRB is an independent entity run by its Board of
        Directors. Initial members are a balanced mix of ecosystem partners covering
        geographically diverse markets.</p>

        <p>Independent external labs will be authorized to perform test on
        Boot2Gecko devices to certify compliance with our performance and compliance
        standards. Our standards are based on Mozilla’s principles of user privacy
        and control.</p>


    </article>

{% endblock content %}
