<!doctype html>
<html class="no-js" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mozilla CRB | {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sandstone/sandstone.css') }}" media="all">

    <link rel="shortcut icon" href="//mozorg.cdn.mozilla.net/media/img/favicon.ico">

    <!--[if lte IE 8]>
    <script src="{{ url_for('static', filename='js/libs/html5shiv.js') }}"></script>
    <![endif]-->

  </head>

  <body class="sky">
    <div id="outer-wrapper">
      <div id="wrapper">

        <header id="masthead">
          <!--
            The main navigation is optional, for pages that need it.
            The number of links should be kept to a minimum, no more than 5 or 6.
            If you need more than 6 links in this navbar, you have bigger IA problems to focus on.
          -->
          <nav id="nav-main" role="navigation">
            <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
            <ul id="nav-main-menu">
              <li class="first"><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="{{ url_for('why_crb') }}">Why CRB?</a></li>
              <li><a href="{{ url_for('members') }}">Members</a></li>
              <li class="last"><a href="{{ url_for('certified_products') }}">Certified Products</a></li>
            </ul>
          </nav>

          <h2><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/sandstone/OWD-compliance-review-board_wordmark.png') }}" alt="mozilla"></a></h2>

        </header>

        <!--
          The main feature of a page is usually the main title, but may also consists of a promotional
          banners, introductory text, etc. However, this should not be the main content or "meat" of the
          page, so it shouldn't contain a lot of text or a full article. Think of it as a masthead for
          this specific page below the global masthead for the entire site. Use an appropriate element
          with the id "main-feature". This might be a single heading (h1), an hgroup, a div, etc.
        -->
        <hgroup id="main-feature" class="center">
          {% block main_feature %}
              <h1 class="large">Mozilla Sandstone</h1>
              <h2>A global style for Mozilla websites</h2>
          {% endblock %}
        </hgroup>

        <!--
          The real meat of the page should be wrapped in a container with the id "main-content". This
          could be a generic div, an article, a section, or the new main element - whatever is most
          semantically appropriate for the content.
        -->
        <div id="main-content">
          {% block content %}
          {% endblock content %}
        </div>

      </div><!-- close #wrapper -->

      <footer id="colophon">
        <div class="row">

<!--
          <div class="footer-logo">
              <a href="https://www.mozilla.org"><img src="{{ url_for('static', filename='img/sandstone/footer-mozilla.png') }}" alt="mozilla"></a>
          </div>

          <div class="footer-license">
              <p>Portions of this content are ©1998–2013 by individual
                mozilla.org contributors. Content available under
                a <a href="https://www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.</p>
              <p><a href="https://www.mozilla.org/contribute">Contribute to this page</a></p>
          </div>
          <ul class="footer-nav">
            <li><a href="https://www.mozilla.org/about/contact.html#map-mountain_view">Contact Us</a></li>
            <li><a href="https://www.mozilla.org/privacy">Privacy Policy</a></li>
            <li><a href="https://www.mozilla.org/about/legal.html">Legal Notices</a></li>
            <li><a href="https://www.mozilla.org/legal/fraud-report/index.html">Report Trademark Abuse</a></li>
          </ul>

          <ul class="footer-nav">
            <li><a href="http://twitter.com/firefox">Twitter</a></li>
            <li><a href="http://facebook.com/Firefox">Facebook</a></li>
            <li><a href="https://affiliates.mozilla.org/">Firefox Affiliates</a></li>
          </ul>

-->
        </div>
      </footer>

    </div><!-- close #outer-wrapper -->

    <script src="{{ url_for('static', filename='js/libs/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nav-main-resp.js') }}"></script>
    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js') }}"></script>


  </body>
</html>
