{% extends "base.html" %}

{% block title %}Certified Products{% endblock title %}

{% block content %}
    <article class="main-column">
        <h1>Certified Products</h1>
        <ul>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/os/devices/#alcatel_onetouchfirec">Alcatel ONETOUCH Fire C</a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/os/devices/#alcatel_onetouchfiree">Alcatel ONETOUCH Fire E</a>
            </li>
        </ul>
    </article>
{% endblock content %}
