{% extends "base.html" %}

{% block title %}Certified Products{% endblock title %}

{% block main_feature %}
{% endblock %}

{% block content %}
    <article class="main-column">
        <p>TBD</p>
    </article>

<!--
    <aside class="sidebar">
      <h3>Sidebar</h3>
      <p>Some pages may have optional sidebars to contain supplemental content or navigation.
      Sidebars typically wrap under the main column in mobile viewports, and should always be
      considered secondary to the main intent of the page. If a sidebar contains vital and
      essential content, then perhaps that content shouldn't be in a sidebar.</p>

      <nav>
        <h4>Sidebar Navigation</h4>
        <ul>
          <li><a href="#">Page One</a></li>
          <li><a href="#">Page Two</a></li>
          <li><a href="#">Page Three</a></li>
        </ul>
      </nav>

    </aside>
-->

{% endblock content %}
