{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  <article class="main-column">
    <h1>Welcome to the Open Web Device CRB</h1>

    <p>The Open Web Device Compliance Review Board is an independent, not-for-profit
      organization formed to define and evolve the process of encouraging API
      compatibility and competitive performance for devices running the B2G operating system.</p>

    <h2>Our Goals</h2>
    <ul>
        <li>Demonstrate broad industry interest in establishing compliance specifications</li>
        <li>Agree on common compliance criteria</li>
        <li>Leverage existing industry organizations for easier deployment of CRB</li>
    </ul>

    <h2>Contact</h2>
    <noscript><p><em>[You must enable Javascript to see email addresses.</em></p></noscript>
    <p>Partnership inquiries:<br />
      Email: <a id="sandip"></a><noscript>Sandip Kamat</noscript></p>


    <p>Media inquiries<br />
      Email: <a id="rachel"></a><noscript>Rachel Shaffer</noscript></p>

  </article>

{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/libs/jquery.emailaddressmunging.js') }}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $('#sandip').attr('href', $.rotate13('znvygb:fxnzng@zbmvyyn.pbz')).text('Sandip Kamat');
        $('#rachel').attr('href', $.rotate13('znvygb:enpury@nyyvfbace.pbz')).text('Rachel Shaffer');
      });
    </script>
{% endblock extra_js %}
