{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  <article class="main-column">
    <h1>Welcome to the Open Web Device CRB</h1>

    <p>We are a partnership between operators, device OEMs, silicon vendors and
    test solution providers to define and evolve a process that encourages
    API compatibility and competitive performance for devices implementing
    Mozilla’s Boot2Gecko operating system.</p>

    <h2>Our Goals</h2>
    <ul>
        <li>Demonstrate broad industry interest in establishing compliance specifications</li>
        <li>Agree on common compliance criteria</li>
        <li>Explore leveraging existing industry organizations (labs) for easier deployment of CRB</li>
    </ul>

  </article>

{% endblock content %}
