{% extends "base.html" %}

{% block main_feature %}
{% endblock %}

{% block content %}
    <article class="main-column">

<p>What are the benefits to CRB membership?</p>
<ul>
  <li>Open Web Device CRB provides operators and device vendors an independent third party certification for devices
      to meet API compliance and minimum performance benchmarks. This ensures a consistent experience, unleashing the
      full power of the Web on these devices. This is equally critical for users and developers. Towards that goal all
      industry members, however big or small, can benefit with CRB as a common forum to establish such compliance criteria.</li>
  <li>It provides a platform (as opposed to individual efforts of companies) to plan and execute the necessary steps
      needed to support flourishing Open Web App ecosystem without fragmentation.</li>
  <li>CRB membership provides access to participation in meetings.</li>
  <li>Statutory membership additionally provides voting rights on key propositions.</li>
</ul>

<p>CRB Board</p>
<ul>
  <li>Operator Members:
    <ul>
      <li>Deutsche Telecom (Christoph Schmidt; Lou Schreier)</li>
      <li>KDDI (Katsuhiro Kozuki)</li>
      <li>Telefonica (Carlos Pedraz; Daniel Coloma)</li>
      <li>Telenor (Holger H.)</li>
      <li><3 open seats></li>
    </ul>
  </li>
  <li>Vendor Members
    <ul>
      <li>LGE (Alan Kim)</li>
      <li>Mozilla (Andreas Gal; Bob Moss)</li>
      <li>Qualcomm (Atul Agarwal)</li>
      <li>Sony Mobile (Magnus Hilding; Zoran Jovanovic)</li>
      <li>TCL (Aaron Zhang; Daniel Sun)</li>
      <li>ZTE (Yulun Kan; June Wang)</li>
      <li>Spreadtrum (Yi Kang; Diana Jovin)</li>
    </ul>
  </li>
</ul>

<p>Board Election and Appointments</p>
<ul>
  <li>Andreas/Mozilla - President</li>
  <li>Thom Erickson - CFO/treasurer (GM)</li>
  <li>Yong/ZTE - Secretary</li>
  <li>Steering Committee Chair Bob/Mozilla</li>
  <li>Technical Committee Chair Faramarz/Mozilla</li>
  <li>Technical Committee Vice Chair Sheikh/QC</li>
  <li>CWG will be ad-hoc within Steering committee (work with BoB/Mozilla. TCL, LG and ZTE have interests in joining CWG)</li>
  <li>John Slater/Mozilla will be the MarCom director</li>
</ul>

    </article>

    <aside class="sidebar">
      <h3>Sidebar</h3>
      <p>Some pages may have optional sidebars to contain supplemental content or navigation.
      Sidebars typically wrap under the main column in mobile viewports, and should always be
      considered secondary to the main intent of the page. If a sidebar contains vital and
      essential content, then perhaps that content shouldn't be in a sidebar.</p>

      <nav>
        <h4>Sidebar Navigation</h4>
        <ul>
          <li><a href="#">Page One</a></li>
          <li><a href="#">Page Two</a></li>
          <li><a href="#">Page Three</a></li>
        </ul>
      </nav>

    </aside>
{% endblock content %}
