{% extends "base.html" %}

{% block title %}Members{% endblock title %}

{% block content %}
    <article class="main-column">
      <h1>Members</h1>
      <h2>What are the benefits to CRB membership?</h2>
      <ul>
        <li>Open Web Device CRB provides operators and device vendors an independent third party certification for devices
            to meet API compliance and minimum performance benchmarks. This ensures a consistent experience, unleashing the
            full power of the Web on these devices. This is equally critical for users and developers. Towards that goal all
            industry members, however big or small, can benefit with CRB as a common forum to establish such compliance criteria.</li>
        <li>It provides a platform (as opposed to individual efforts of companies) to plan and execute the necessary steps
            needed to support flourishing Open Web App ecosystem without fragmentation.</li>
        <li>CRB membership provides access to participation in meetings.</li>
        <li>Statutory membership additionally provides voting rights on key propositions.</li>
      </ul>

      <h2>CRB Board</h2>
      <ul>
        <li>Operator Members:
          <ul>
            <li>Deutsche Telecom (Christoph Schmidt; Lou Schreier)</li>
            <li>KDDI (Katsuhiro Kozuki)</li>
            <li>Telefonica (Carlos Pedraz; Daniel Coloma)</li>
            <li>Telenor (Holger H.)</li>
            <li><em>3 open seats</em></li>
          </ul>
        </li>
        <li>Vendor Members
          <ul>
            <li>LGE (Alan Kim)</li>
            <li>Mozilla (Andreas Gal; Bob Moss)</li>
            <li>Qualcomm (Atul Agarwal)</li>
            <li>Sony Mobile (Magnus Hilding; Zoran Jovanovic)</li>
            <li>TCL (Aaron Zhang; Daniel Sun)</li>
            <li>ZTE (Yulun Kan; June Wang)</li>
            <li>Spreadtrum (Yi Kang; Diana Jovin)</li>
          </ul>
        </li>
      </ul>

      <h2>Board Election and Appointments</h2>
      <ul>
        <li>Andreas/Mozilla - President</li>
        <li>Thom Erickson - CFO/treasurer (GM)</li>
        <li>Yong/ZTE - Secretary</li>
        <li>Steering Committee Chair Bob/Mozilla</li>
        <li>Technical Committee Chair Faramarz/Mozilla</li>
        <li>Technical Committee Vice Chair Sheikh/QC</li>
        <li>CWG will be ad-hoc within Steering committee (work with BoB/Mozilla. TCL, LG and ZTE have interests in joining CWG)</li>
        <li>John Slater/Mozilla will be the MarCom director</li>
      </ul>

    </article>

{% endblock content %}
