{% extends "base.html" %}

{% block title %}Members{% endblock title %}

{% block content %}
    <article class="main-column">
      <h1>Members</h1>
      <h2>What are the benefits to CRB membership?</h2>
      <ul>
        <li>Independent third-party certification for devices to meet API compliance and minimum performance benchmarks.
          This ensures a consistent experience, unleashing the full power of the Web on Open Web devices.
        </li>
        <li>A unified platform to plan and execute the necessary steps needed to support a flourishing Open Web
          app ecosystem without fragmentation
        </li>
        <li>Access to participate in CRB meetings</li>
        <li>Voting rights on key propositions (Statutory members)</li>
        <li>Eligibility for board seats (Statutory members)</li>
        <li>Chair Steering Committee or Working Groups (Statutory members)</li>
        <li>Participation in Steering Committee or Working Groups</li>
        <li>A voice in how a device is qualified for markets worldwide</li>
        <li>Early product alignment with pending industry certification criteria</li>
      </ul>

      <h2>CRB Board</h2>
      <table class="table">
        <thead>
          <tr>
            <th colspan="2"><b>Operator Members</b></th>
          </tr>
          <tr>
            <th>Organization</th>
            <th>Member</th>
          </tr>
        </thead>
        <tbody>
            <tr><td>Deutsche Telecom</td><td>Christoph Schmitz,  Lou Schreier</td></tr>
            <tr><td>KDDI</td><td>Katsuhiro Kozuki</td></tr>
            <tr><td>Telefonica</td><td>Carlos Pedraz</td></tr>
            <tr><td>Telenor</td><td>Holger Hussmann</td></tr>
            <tr><td colspan="2"><em>Three open seats</em></td></tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th colspan="2"><b>Vendor Members</b></th>
          </tr>
          <tr>
            <th>Organization</th>
            <th>Member</th>
          </tr>
        </thead>
        <tbody>
            <tr><td>LGE </td><td>Alan Kim</td></tr>
            <tr><td>Mozilla</td><td>Andreas Gal</td></tr>
            <tr><td>Qualcomm</td><td>Atul Agarwal</td></tr>
            <tr><td>Sony Mobile Communications Inc.</td><td>Nabil El Hawary, Zoran Jovanovic</td></tr>
            <tr><td>Spreadtrum</td><td>Bravo Lee</td></tr>
            <tr><td>TCL</td><td>Aaron Zhang, Daniel Sun</td></tr>
            <tr><td>ZTE</td><td>Yulun Kan, Yong Chang</td></tr>
        </tbody>
      </table>

      <h2>Board Election and Appointments</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Appointment</th>
            <th>Appointee</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>President</td><td>Andreas Gal, Mozilla <br />VP of Mobile</td></tr>
          <tr><td>Secretary</td><td>Yong Chang, ZTE <br />Director of Engineering</td></tr>
          <tr><td>Steering Committee Chair</td><td>Sandip Kamat, Mozilla<br />Senior Manager, Product Management Group</td></tr>
          <tr><td>Technical Committee Chair</td><td>Faramarz Rashed, Mozilla <br />Engineering Director</td></tr>
          <tr><td>Technical Committee Vice-Chair</td><td>Leyla Celebi, Qualcomm <br />Senior Staff of Engineering</td></tr>
          <tr><td>MarCom Product Marketing</td><td>John Bernard, Mozilla <br />Global Marketing Director</td></tr>
          <tr><td>Technical Committee Subject Matter Experts</td><td>Leyla Celebi, Qualcomm<br />Meng Xiaoyun</td></tr>
        </tbody>
      </table>
    </article>

{% endblock content %}
