{% extends "base.html" %}

{% block title %}Why CRB?{% endblock title %}

{% block content %}
    <article class="main-column">
      <h1>Why CRB?</h1>
      <h2>Why is a compliance review board necessary?</h2>

      <ul>
        <li><strong>To reduce OS fragmentation.</strong> The CRB incentivizes participants to stick to a pre-defined set of APIs and performance experiences.</li>
        <li><strong>To provide a faster time to market.</strong> Devices pre-qualified by the CRB will experience reduced certification time at carrier labs, enabling a quicker route to stores.</li>
        <li><strong>To ensure performance uniformity.</strong> The CRB sets a minimum quality bar for consistent performance on devices running B2G, and confirms that performance is similar to any other OS running on a similar device.</li>
        <li><strong>To provide global independent API certification.</strong> The CRB establishes compliance specifications for ensuring uniformity of web APIs in devices running B2G.</li>
      </ul>

      <h2>What are the benefits of certification?</h2>

      <h3>For operators</h3>
      <ul>
        <li>Uniform test and certification criteria for every B2G-based device in the ecosystem</li>
        <li>Shorter operator acceptance test cycle time, which means reduced duplication and cost, and enables focusing on testing key differentiators</li>
        <li>A minimum bar set for expected user experience</li>
        <li>Uniformity ensured across devices, offering more choices for operators</li>
      </ul>

      <h3>For OEMs</h3>
      <ul>
        <li>Reduced time and cost to qualify across operators and markets (test once, sell to many)</li>
        <li>Reduced certification time at operator labs, due to compliance to pre-set quality metrics &amp; APIs </li>
        <li>Concentration on product differentiations rather than investing in individual API compliance suites</li>
        <li>Reduced OS fragmentation, ensuring devices with a set of pre-defined APIs conform to a specific Firefox OS version</li>
      </ul>

      <h3>For users/developers</h3>
      <ul>
        <li>Consistent experience of the full Web across devices and apps</li>
        <li>No concerns of fragmentation on certified devices, all APIs will work as expected</li>
        <li>Minimum performance guarantee to enhance the device/apps experience</li>
      </ul>
    </article>

{% endblock content %}
