{% extends "base.html" %}

{% block title %}Why CRB?{% endblock title %}

{% block content %}
    <article class="main-column">
      <h1>Why CRB?</h1>
      <h2>Why is a certification review board necessary?</h2>

      <ul>
        <li><strong>To reduce OS fragmentation.</strong> The CRB incentivizes participants to stick to a pre-defined set of APIs and performance experiences.</li>
        <li><strong>To provide a faster time to market.</strong> Devices pre-qualified by the CRB will experience reduced certification time at carrier labs, enabling a quicker route to stores.</li>
        <li><strong>To ensure performance uniformity.</strong> The CRB sets a minimum quality bar for consistent performance on devices running Boot2Gecko (B2G), and confirms that performance is similar to any other OS running on a similar device.</li>
        <li><strong>To provide global independent API certification.</strong> The CRB establishes certification standards for ensuring API compliance of any B2G device tied to a specific OS version.</li>
      </ul>

      <h2>What are the benefits of certification?</h2>

      <h3>For operators</h3>
      <ul>
        <li>Uniform test and certification criteria for every B2G-based device in the ecosystem.</li>
        <li>Shorter operator acceptance test cycle time means reduced duplication and cost, and enables focusing on testing key differentiators</li>
        <li>Sets a minimum bar for expected user experience.</li>
        <li>Ensures uniformity across devices, offering more choices for Operators.</li>
      </ul>

      <h3>For OEMs</h3>
      <ul>
        <li>Reduces time and cost to qualify across operators and markets (test once, sell to many).</li>
        <li>Device compliance to pre-set quality metrics &amp; APIs reduces certification time at operator labs.</li>
        <li>OEMs can concentrate on product differentiations rather than investing on individual API compliance suites.</li>
        <li>Reduce OS fragmentation and ensure devices with set of pre-defined APIs conforming to a specific Firefox OS version.</li>
      </ul>

      <h3>For users/developers</h3>
      <ul>
        <li>Consistent experience of the full Web across devices and apps.</li>
        <li>No concerns of fragmentation on certified devices - all APIs will work expected.</li>
        <li>Minimum performance guarantee to enhance the device/apps experience.</li>
      </ul>
    </article>

{% endblock content %}
