{% extends "base.html" %}

{% block title %}Why CRB?{% endblock title %}

{% block main_feature %}
{% endblock %}

{% block content %}
    <article class="main-column">
      <p>Why is a certification review board necessary?</p>

      <ul>
        <li><strong>To reduce OS fragmentation.</strong> The CRB incentivizes participants to stick to a pre-defined set of APIs and performance experiences.</li>
        <li><strong>To provide a faster time to market.</strong> Devices pre-qualified by the CRB will experience reduced certification time at carrier labs, enabling a quicker route to stores.</li>
        <li><strong>To ensure performance uniformity.</strong> The CRB sets a minimum quality bar for consistent performance on devices running Boot2Gecko (B2G), and confirms that performance is similar to any other OS running on a similar device.</li>
        <li><strong>To provide global independent API certification.</strong> The CRB establishes certification standards for ensuring API compliance of any B2G device tied to a specific OS version.</li>
      </ul>

      <p>What are the benefits of certification?</p>

      <p>For operators</p>
      <ul>
        <li>Uniform test and certification criteria for every B2G-based device in the ecosystem.</li>
        <li>Shorter operator acceptance test cycle time means reduced duplication and cost, and enables focusing on testing key differentiators</li>
        <li>Sets a minimum bar for expected user experience.</li>
        <li>Ensures uniformity across devices, offering more choices for Operators.</li>
      </ul>

      <p>For OEMs</p>
      <ul>
        <li>Reduces time and cost to qualify across operators and markets (test once, sell to many).</li>
        <li>Device compliance to pre-set quality metrics &amp; APIs reduces certification time at operator labs.</li>
        <li>OEMs can concentrate on product differentiations rather than investing on individual API compliance suites.</li>
        <li>Reduce OS fragmentation and ensure devices with set of pre-defined APIs conforming to a specific Firefox OS version.</li>
      </ul>

      <p>For users/developers</p>
      <ul>
        <li>Consistent experience of the full Web across devices and apps.</li>
        <li>No concerns of fragmentation on certified devices - all APIs will work expected.</li>
        <li>Minimum performance guarantee to enhance the device/apps experience.</li>
      </ul>
    </article>

<!--
    <aside class="sidebar">
      <h3>Sidebar</h3>
      <p>Some pages may have optional sidebars to contain supplemental content or navigation.
      Sidebars typically wrap under the main column in mobile viewports, and should always be
      considered secondary to the main intent of the page. If a sidebar contains vital and
      essential content, then perhaps that content shouldn't be in a sidebar.</p>

      <nav>
        <h4>Sidebar Navigation</h4>
        <ul>
          <li><a href="#">Page One</a></li>
          <li><a href="#">Page Two</a></li>
          <li><a href="#">Page Three</a></li>
        </ul>
      </nav>

    </aside>
-->
{% endblock content %}
